.zingchart {
  display: flex;
  margin-top: 2px;
  box-shadow: 0 0.8px 1.5px -3px rgba(0, 0, 0, 0.081), 0 2.7px 4.9px -3px rgba(0, 0, 0, 0.119),
    0 12px 22px -3px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 550px;
  justify-content: space-between;

  z-index: 10000;
}
