.hotsinger {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  padding: 0;
  .right {
    margin-left: 6px;
    width: 70%;
    height: 210px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
  }
}

.title {
  font-size: 26px;
  color: purple;
  &::after {
    content: ">";
  }
}
