$width: 60px;
$height: 60px;
.card {
  margin: 5px;
  cursor: pointer;
  width: $width;
  height: $height;
  position: relative;

  &:hover {
    .cardImg {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.1);
    }

    .opacity {
      opacity: 1;
      // .play {
      //   width: 20px;
      //   height: 20px;
      // }
    }
  }
}
.cardImg {
  width: $width;
  height: $height;
  transition: transform 1s;
}

// .img {
//   transition: transform 1s;
// }

// .card:hover .cardImg {
//   -ms-transform: scale(1.1); /* IE 9 */
//   -webkit-transform: scale(1.2); /* Safari 3-8 */
//   transform: scale(1.1);
// }

.backroudCard {
  overflow: hidden;
  // border-radius: 5px;
}

.opacity {
  width: $width;
  height: $height;
  position: absolute;
  background-color: rgba(72, 72, 72, 0.7);
  top: 0;
  left: 0;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  .play {
    // margin-left: 4px;
    // margin-right: 10px;
    // width: 20px;
    // height: 20px;
    font-size: 20px;
    // width: 1px;
    // height: 1px;
  }
  .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    &:hover {
      background-color: #f1f1f1ad;
    }
  }

  //visibility: hidden;
}
