.listitemResult {
  color: black;
  // display: flex;
  // flex-direction: column;
  margin-bottom: 10px;
}
.Result {
  display: flex;
  flex-direction: column;
}

.inforSearch {
  vertical-align: middle;
  color: "balck";
  height: 45px;
  // margin-bottom: 5px;
  padding-left: 10px;
  align-items: center;
  display: flex;
}
