.listnhac {
  display: flex;
  align-items: center;
  width: 320px;
  margin-top: 5px;
  margin-bottom: 5px;

  cursor: pointer;
  &:hover {
    .grIcon {
      display: block;
    }
  }
}

.grIcon {
  margin-left: 10px;
  display: none;
}

.card {
  width: 221px;
  overflow: hidden;
  cursor: pointer;
}
