.imgsong {
  // margin: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;

  overflow: hidden;

  &:hover {
    .img {
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.1);
    }

    .icon {
      // -ms-transform: scale(1.1);
      // -webkit-transform: scale(1.2);
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1);
    }

    .opacity {
      opacity: 1;
    }
  }
}
.img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}

.icon {
  color: white;
  transition: transform 0.2s;
  transform: scale(0);
  text-align: center;
}

.opacity {
  // //<css-of-icon>
  // font-size: 150%;
  // color: white;
  // //</css-of-icon>

  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(72, 72, 72, 0.7);
  top: 0;
  left: 0;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.S {
  width: 50px;
  height: 50px;
  .imgsong {
    .icon {
      font-size: 120%;
    }
  }
}

.M {
  width: 60px;
  height: 60px;
  .imgsong {
    .icon {
      font-size: 150%;
    }
  }
}

.L {
  width: 110px;
  height: 110px;
  .imgsong {
    .icon {
      font-size: 250%;
    }
  }
}

.XL {
  width: 150.5px;
  height: 150.5px;
  .imgsong {
    .icon {
      font-size: 300%;
    }
  }
}

.XXL {
  width: 208px;
  height: 210px;
  .imgsong {
    .icon {
      font-size: 20px;
    }
  }
}

.ML {
  width: 98px;
  height: 100px;
  .imgsong {
    .icon {
      font-size: 20px;
    }
  }
}

.Smallrectangle {
  width: 110px;
  height: 61.88px;
  .imgsong {
    .icon {
      font-size: 20px;
    }
  }
}

.shape {
  width: 100px;
}

.RaM {
  width: 100px;
  height: 66px;
  .imgsong {
    .icon {
      display: none;
    }
  }
}

.RaL {
  width: 143px;
  height: 80px;
  .imgsong {
    .icon {
      font-size: 20px;
    }
  }
}
