.description {
  padding-left: 5px;
  &:hover {
    color: purple;
    cursor: pointer;
  }
}

.singer {
  color: #9788a7;
  width: 120px;
}

.videoitem {
  margin-top: 20px;
}

.singersong {
  width: 120px;
}

.title {
  width: 120px;
}
