.tabmvitem {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  position: relative;
}

.infor {
  align-self: flex-start;
  width: 190px;
}

.rank {
  position: absolute;
  left: 2px;
  bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.imgsong {
  width: 45%;
}
