.tabsong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  margin-top: 2px;

  .rank {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    span {
      font-size: 20px;
    }
  }

  &:hover {
    .grIcon {
      display: block;
    }
    .watch {
      display: none;
    }
  }
}

.grIcon {
  display: none;
  margin-right: 5px;
}

.watch {
  display: block;
  margin-right: 5px;
}
