.toolshare {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.infortend {
  padding: 5px;
}

.grIcon {
  margin-right: 30px;
}

.icon {
  color: #cacaca;
  font-size: large;
  margin: 2px;
}

.watch {
  margin-right: 10px;
  font-size: 17px;
}
